main {
  & .site-title {
    background: url("../assets/Background-image.png");
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;

    & .site-background {
      padding-top: 10rem;
      text-align: center;
      color: $white;

      & h1,
      h3 {
        margin: 0rem;
      }

      .hero-btn:hover {
        background: transparent;
        color: $white;
      }
    }
  }
}
