header {
  position: relative;
  z-index: 1;
}

nav {
  background: #fff;
  position: relative;
  min-height: 10vh;
  width: 100%;
  @include flex-row(space-between, no-wrap);
  padding: 0 1.2rem;

  .nav-items {
    @include flex-row(center, no-wrap);

    .nav-item {
      padding: 0 1.3rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .burgur {
    display: none;
    cursor: pointer;

    > div {
      width: 27px;
      height: 3px;
      background: #000;
      margin: 5px 0;
      transition: all 0.2s ease;
    }
  }

  .social-items i {
    padding: 0 0.3rem;
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }

  .nav-brand h1 {
    font-size: 33px;
  }
}

.active {
  transform: translateY(0) !important;
  z-index: 10000;
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toggle .line-one {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-two {
  opacity: 0;
}

.toggle .line-three {
  transform: rotate(45deg) translate(-5px, -6px);
}

.hero-index {
  // this class will let the menu opne top over the content
  position: relative;
  z-index: -100 !important;
}

@media only screen and (max-width: 780px) {
  .burgur {
    display: block !important;
  }

  .nav-items {
    z-index: -10;
    position: absolute;
    top: 10vh;
    right: 0;
    min-height: 90vh;
    width: 100%;
    @include flex-row(space-around, no-wrap);
    flex-direction: column;
    justify-content: space-around !important;
    background: rgba(0, 0, 0, 0.94);
    transform: translateY(-100%);
    transition: transform 0.5s ease-in;
  }

  nav .social-items {
    display: none;
  }

  .nav-item {
    font-size: 18px;
    color: white;
    opacity: 0;
  }
}
